body {
  background-color: #FFF6E6;
  font-family: "Arial Black", sans-serif;
  /* overflow: hidden; */
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  /* overflow: hidden; */
  /* position: relative; */
}

.menu {
  height: 100%;
  /* width: fit-content; */
  width: 40dvw;
  max-width: 40dvw;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 1.5dvh;
}

.menu a img {
  height: 2dvh;
  width: 2dvh;
}

.menu li a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 2.5dvw;
  border: 0.5dvh solid #24963E;
  border-radius: 1.2dvh;
  width: 25dvw;
  padding-left: 2.5dvw;
  padding-top: 0.5dvh;
  padding-bottom: 0.5dvh;
  box-shadow: 0 0 1dvh #24963E;
  color: black;
}

.subMenu {
  display: flex;
  justify-content: center;
}

.subMenu li {
  flex-direction: column;
  align-items: center;
}

.traco {
  border-left: 0.5dvh solid #007BFF;
  border-radius: 0.8dvh;
  margin-top: 5dvh;
  margin-bottom: 5dvh;
}

.secao {
  display: flex;
  position: relative;
  left: 10dvw;
  top: 10dvh;
  height: fit-content;
  font-size: 4.8dvh;
  font-weight: 1000;
  border: 0.4dvh solid #0062CC;
  border-radius: 2.5dvh;
  align-items: center;
  width: 50dvw;
  max-width: 60dvw;
  padding: 1dvh;
  gap: 10dvw;
  box-shadow: 0.1dvh 0.4dvh 1dvh #0062CC;
}

.secao p {
  color: white;
  -webkit-text-stroke: 0.3dvh #28A745;
  text-shadow: 0 0.4dvh 0.8dvh #FFA500;
}

.circulo {
  display: flex;
  position: absolute;
  width: 15dvh;
  height: 15dvh;
  border-radius: 50%;
  background-color: #28A745;
  border: 1dvh solid #3498db;
  justify-content: center;
  align-items: center;
  font-size: 5.6dvh;
  font-weight: bold;
  color: #FFA500;
  padding: 0.5dvh;
  box-shadow: 0.1dvh 0.4dvh 1dvh #0062CC, inset 0 0 0 0.7dvh white;
}

.circulo{
  
}

.circulo#n1 {
  left: 30dvw;
  top: 24dvh;
  cursor: pointer;
}

.circulo#n2 {
  left: 35dvw;
  top: 41.5dvh;
}

.circulo#n3 {
  left: 43dvw;
  top: 57.5dvh;
}

.circulo#n4 {
  left: 55dvw;
  top: 70dvh;
}

.circulo#n5 {
  left: 70dvw;
  top: 77.5dvh;
}

#infos{
  position: relative;
  margin-top: 25dvh;
  margin-right: 8dvw;
  /* overflow: hidden; */
}

.xp,
.ola {
  margin-right: -2dvw;
  /* position: absolute; */
  margin-top: 4dvh;
  height: 15dvh;
  width: 30dvw;
  max-width: 40dvw;
  top: 30dvh;
  border: 0.5dvh solid #0062CC;
  border-radius: 2.5dvh;
  outline: 0.5dvh solid #0062CC;
  outline-offset: 0.5dvh;
}

.xp .ganhe {
  font-size: 2.4dvh;
  font-weight: 200;
  color: #208637;
  padding: 1dvh;
}

.xp .nums,
.ola p {
  display: flex;
  align-items: center;
  margin: 1dvh;
  gap: 0.5dvh;
}

.xp .nums p,
.ola .nivel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28dvw;
  height: 2dvh;
  color: #1E7D34;
  border: 0.1dvh solid #0062CC;
  border-radius: 1dvh;
  font-size: 1.2dvh;
}

.xp{
  right: -2dvw;
}

.ola {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: absolute; */
  top: 50dvh;
  right: -6dvw;

}

.ola .nivel {
  background: linear-gradient(to right, #2ecc71 65%, #ffffff 75%);
}

.ola .hello {
  font-family: Arial, sans-serif;
  font-size: 2.4dvh;
  font-weight: 600;
  color: #208637;
  padding: 0.5dvh;
  margin: 0.2dvh;
  
}

.ola .acompanhe {
  font-family: Arial, sans-serif;
  padding: 0.5dvh;
  margin: 0.2dvh;
  color: white;
  -webkit-text-stroke: 0.1dvh #006FE6;
}

.perfil {
  display: flex;
  align-items: center;
  position: absolute;
  right: 2dvw;
  top: 2dvh;
  gap: 1.5dvw;
}

.perfil .foto-perfil {
  width: 5dvh;
  height: 5dvh;
}

.perfil .carteira {
  gap: 1dvw;
  display: flex;
  justify-content: center;
  width: 30dvw;
  border: 0.4dvh solid #24963E;
  border-radius: 1.2dvh;
  box-shadow: -0.1dvh 0.2dvh 0.9dvh #24963E;
}
